/* Reglas para elegir familia de fuentes

font-family: 'Fira Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../images/fondos/body.png);
    background-position: 0 0;
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    /*display: flex;*/
  }
  
  a {
    text-decoration: none;
    font-family: /*'Merriweather', serif;*/ 'Fira Sans', sans-serif;
    color: black;
    transition: color 0.2s ease-in-out 0s 
   }
  
  a:visited {
    color:rgb(63, 63, 63);
  }
  
  a:hover, a:focus {
    color: #e23487;
    text-decoration: underline overline;
  }
  
  h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    text-align: justify;
    line-height: normal;;
  }
  
  .contenedor {
    /* max-width: 1400px; */
    width: 960px;
    margin: 0 auto;
    /* background-color: tomato; */
  }
  
  .flex__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
  }

  .flex__container--items {
      width: 1000px;
      margin: 10px;
      flex-flow: row nowrap;
  }

  /* ----------------- SECCION PARA HEADER */
  
  .header__buscar {
    /* max-width: 250px;
    min-width: 100px; */
    width: 250px;
    flex: 1 1 auto;
  }
  
  /* .header__buscar--imagen {
    width: 70%;
  } */
  
  .header__logo {
    /* max-width: 650px;
    min-width: 100px; */
    width: 650px;
    flex: 5 1 auto;
  }
  
 /* .header__logo--imagen {
    width: 100%;
  } */
  
 .header__item {
    /* max-width: 100px;
    min-width: 100px; */
    width: 100px;
    flex: 1 1 auto;
  }

   /* .header__item--imagenes {
    width: 100%;
  } */
  
  .header__item--boton {
    border: none;
    width: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  /* .header__item--boton-imagenes {
    width: 100%;
  } */

  .header__item--user {
  
  }
  
  /* ----------------- PARA BARRA DE NAVEGACION */
  
  .nav {
    margin: 20px 45px auto;
  }
  
  .nav__lista {
  
  }
  
  .nav__lista--principal {
    
  }
  
  .nav__elementos {
    display: inline-block;
    cursor: pointer;
  }
  
  .nav__enlaces {
  
  }
  
  /* ----------------- SECCIÓN PRINCIPAL DESTACADA */
  
  /* TITULO PRINCIPAL ANIMADO 
  Probando el cambio de colores */
  
  .seccion__titulo--H1 {
    margin: 20px auto;
    font-size: 1.5rem;
    text-align: center;
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
     animation: color-change 2s infinite;
  }
  
  @-webkit-keyframes color-change {
    0% { color: #e23487; }
    50% { color: black; }
    100% { color: #e23487; }
  }
  @-moz-keyframes color-change {
    0% { color: #e23487; }
    50% { color: black; }
    100% { color: #e23487; }
  }
  @-ms-keyframes color-change {
    0% { color: #e23487; }
    50% { color: black; }
    100% { color: #e23487; }
  }
  @-o-keyframes color-change {
    0% { color: #e23487; }
    50% { color: black; }
    100% { color: #e23487; }
  }
  @keyframes color-change {
    0% { color: #e23487; }
    50% { color: black; }
    100% { color: #e23487; }
  }
  
  /* INDEX SECCIÓN PRINCIPAL */
  
  /* Le doy el ancho que debe tener la sección article */
  .seccion__articulo {
    width: 80%;
  }
  
  /* Modifica los H$ dentro de article */
  .seccion__articulo--Titulo-H4 {
    font-family: 'Fira' sans-serif;
    margin: auto auto 10px auto;
    font-size: 0.9em;
  }
  
  /* Elimino el valor aplicado por a:hover en el inicio para este texto */
  a:hover.seccion__articulo--enlaces {
    text-decoration: none;
  }
  
  /* Le asigno el mismo tamaño a todas a las imágenes */ 
  .seccion__articulo--imagenes {
    width: 128px; height: 128px;
    border: 1px groove #e23487;
    padding: 3px;
    margin: 10px;
  }
  
  /* Elimina el hover por defecto aplicado */
  .seccion__articulo--imagenes-texto > a:hover {
    text-decoration: none;
  }
  
  /* Centro las imágenes dentro del div */
  .seccion__articulo--imagenes-centrar {  
    text-align: center;  
  }
  
  /************ SECCIÓN DE LA TIENDA ************/
  
  /* Modifica el H2 dentro de article */
  .seccion__articulo--Titulo--H2 { 
    margin: 20px auto;
    text-align: center;
  }
  
  /* Modifica los valores de la tabla dentro de article */
  .seccion__articulo--Tabla {
    /* border: 3px solid;
    border-color: #000000;
    background-color: #E6DDA1; */
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Modifica th y td */
  .seccion__articulo--Tabla-Datos { 
    border: solid 2px #000000; 
    padding: 5px;
    text-align: left;
    background-color: white;
    font-family: 'Merriweather', serif;
  }
  
  /* Da un sombreado a las filas impares dentro de la tabla */
  tr:nth-child(even) > .seccion__articulo--Tabla-Datos {
    background-color: #e4e4c4;
  }
   
  /* Destaca la fila tr cuando pasamos con el ratón*/
  tr:hover > .seccion__articulo--Tabla-Datos { 
    /*background-color: #d68eb1;*/
    background-color: #E87BAF;
    cursor: pointer;
  }
  
  /* Modifica los th */
  .seccion__articulo--Tabla-Encabezados {
    background-color: black;
    color: #e23487;
    text-align: center;
  }
  
  /* Modifica el tamaño y forma de Nombre de artículo */
  .seccion__articulo--Tabla-nombre { 
  
      font-size: 1.2em;
      font-weight: bold;
      font-family: 'Merriweather', serif;
      text-align: center;
  
  }
  
  /* Modifica los valores de li dentro de la tabla */
  .seccion__articulo--Tabla-lista {
    list-style-type: none;
    font-size: 0.6rem;
    line-height: 20px;
  }
  
  /* Añade negrita a los valores de li dentro de la tabla */
  .seccion__articulo--Tabla-lista-negrita {
    font-weight: bold;
  }