/* Variables */

/* --- Colores --- */
$success: #e23487;
$primary: black;
$col_softPink: #d53a9d;
$col_purple: #743ad5;
$col_white: #eaeaea;
$col_hardwhite: #e7c4e4;
$col_gold: #e3d248;
$body-color: #636363;
$link-hover-color: #e23487;
$warning: red;

/* Temas */

$theme-colors: (
  "primary": $primary,
  "warning": $success
);

/* --- Fuentes --- */
$fon_first: 'Montserrat', sans-serif;
$fon_second: 'Fira Sans', sans-serif;

/* Logo colores */

.animacionCirculo {
  
  &__uno {
    --i: 1;
  }
  &__dos {
    --i: 2;
  }
  &__tres {
    --i: 3;
  }
  &__cuatro {
    --i: 4;
  }
  &__cinco {
    --i: 5;
  }
  &__seis {
    --i: 6;
  }
  &__siete {
    --i: 7;
  }
  &__ocho {
    --i: 8;
  }
  &__nueve {
    --i: 9;
  }
  &__diez {
    --i: 10;
  }
}
