/* Variables */

/* --- Colores --- */
$success: #e23487;
$primary: black;
$col_softPink: #d53a9d;
$col_purple: #743ad5;
$col_white: #eaeaea;
$col_hardwhite: #e7c4e4;
$col_gold: #e3d248;
$body-color: #636363;
$link-hover-color: #e23487;
$warning: red;
/*$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1200px,
  xl: 1480px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1040px,
  xl: 1140px,
  xxl: 1610px
);*/

$theme-colors: (
  "primary": $primary,
  "warning": $success
);

/* --- Fuentes --- */
$fon_first: 'Montserrat', sans-serif;
$fon_second: 'Fira Sans', sans-serif;
