/* Efectos */

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 5px;
  }
}  

.boton_comprar {
  
&:hover {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
  }
  
& a:hover {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.18s;
  transition-timing-function: ease-in;
  }   
}