@import "mixins";
@import "variables";
@import "efectos";
@import "globals";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.piePagina {
  background-image: url(../images/fondos//body_primero.png);
  background-position: 0 0;
  background-repeat: repeat;
}

.logo__pie {

  h1 {
    display: inline;
  }

  h2 {
    display: inline;
  }

  div {
    display:inline-block;
    position:relative;
    top:5px;
  }

  span {
    font-size: 60px;
    align-items: center;
  }

  &--centrar-texto {
    text-align: center;
  }

  &_encabezado {
    font-size: 120px;
  }

}

.enlinea {
  display: inline;
}

.justificar {
  text-align: justify;
}

.centrar  {
  text-align: center;
  align-items: center;
  justify-content: center !important;
}

.encabezado__imagenes {
      width: 150px;
      height: 35px;
      margin-bottom: 10px;
  }
  
.nav__imagenes {
    width: 22px;
    height: 22px;
    align-items: center;
  }
  
.carousel-indicators {
    top: 105%;

    li {
        background-color:$primary;
    }
}

.btn-floating {
  background-color: $primary;
  color: $col_yellow;
  top: 105%;
}

.card-body {
  background-color: $secondary;
}

.carousel-fondo {
  background-image: url(../images/fondos/body_backup_Tres.png);
  background-position: 0 0;
  background-repeat: repeat;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.imagen__tarjeta {
  width: 208px;
  height: 172px;
}

@media (min-width: 0px) and (max-width: 576px) {
  .nano {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    align-items: center;
    flex-direction: column-reverse;
  } 

  .nano__suscribir {
    width: 100%;
    margin-left: 0%;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .nano__suscribir-formulario {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }

  .nano__suscribir-input {
      width: 50%;
      text-align: center;
      align-items: center;
  }
    
  .nano__suscribir-boton {
      width: 50%;
      text-align: center;
      align-items: center;
  }

  .enviar__consultas {
      margin-bottom: 15px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  
  .nano {
    width: 30%;
    margin-left: 3%;
    text-align: center;
    align-items: center;
  }

  .nano__suscribir {
    width: 100%;
    margin-left: 0%;
    padding-top: 2%;
    offset:unset;      
    flex-direction: column;
    text-align: center;
  }

  .nano__suscribir-formulario {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nano__suscribir-input {
      width: 50%;
      justify-content: center;
  }

  .nano__suscribir-boton {
    width: 50%;
    justify-content: center;
  }

  .enviar__consultas {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1043px) {
  
  .enviar__consultas {
    margin-bottom: 15px;
  }

}

@media (min-width: 1044px) {
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
      position: absolute;
  }
  .navbar-expand-custom .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom > .container {
      flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
}

.servicios {

line-height: 1.7;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
font-family: "Open Sans";
color: #545454;
border: 0;
outline: 0;
font-size: 100%;
background: transparent;
margin: 0;
padding: 0;
display: block;
border-color: #e5e5e5;
max-width: 1400px;

&__blanco {
  color: $secondary;
}

&__subtitulo {
  font-size: 22px;
}

&__parrafo {
  margin-top:15px;
}

}

.circulos {
  font-size: 60px;
  top: -5px;
  position: relative;
  align-items: center;
}

.imagen {
  max-width: 1400px;
}

.qrcode {

  width: 80px;
  height: 80px;

}

.principal {

  height: 50rem;
  margin: 0 auto;

  &__uno {
    background-image: url('../images/productos/index/slide_1_1.jpg');
    background-size: cover;
    }

  &__dos {
    background-image: url('../images/productos/index/slide_1_2.jpg');
    background-size: cover;
    }

  &__tres {
  background-image: url('../images/productos/index/slide_1_3.jpg');
  background-size: cover;
  }

  &__cuatro {
    background-image: url('../images/productos/index/slide_2_1.jpg');
    background-size: cover;
    }

  &__cinco {
    background-image: url('../images/productos/index/slide_2_2.jpg');
    background-size: cover;
    }
  
  &__qrcode {
    background-color: #a38b8b;
  }

  &__whatsapp {
    background-color: #F0E4E4;
    height: 180px;
  }
}

.parrafosPie {
  color: $primary;
}

.enlacesPie {
  text-decoration: none;
}

.textoDecorativo {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
}

.linea {
  margin: 0;
  border: 1px solid $primary;
}

.contactoImagen {
  width: 100%;
  height: 100%;
}

.novedades {
  // background-image: url('../images/web/novedades.jpg');
  background-color: #F0E4E4;
  height: 150px;
  background-size: cover;
  background-position: center;

  &__texto {
    font-size: 150px;
    text-shadow: 2px 2px #a38b8b;
  }
}